.container-fluid {
    font-family: 'Roboto', sans-serif;
    background-color: #60B3D1;
}

div, article, html, footer {
    background-color: #012641;
}

article {
    font-size: 150%;
}

b, p, h1 {
    color: #F4FBFD;
}

footer {
    text-align: center;
}